/*.signout{
	border-radius: 4px;
	padding: 6px;
	margin: 20px;
}

.test{
	display: flex; 
	margin: 0 5px;	
}*/

.log{
	width: 100px;
	padding-top: 15%;
}
.Tilt{
	background: linear-gradient(to right, rgb(222, 92, 213), rgb(89, 237, 249));
}